body{
    background: url("samolet.jpg");
    color: white;
}
th {
    border: 1px solid gray
}

h1{
    color:white;
}


.main_button {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    width: 180px;
}

.main_button:hover {
    background: rgb(232,95,76);
}
.main_button:active {
    background: rgb(152,15,0);
}


table{
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2a731
}

th {
    background-color: #4CAF50;
    color: white;
}