body{
    background: url("samolet.jpg");
     background-size: 80% ;
}
th {
    border: 1px solid gray
}

h1{
    color:white;
}


#main_button {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */


}
#main_button:hover {
    background: rgb(232,95,76);
} /* при наведении курсора мышки */
#main_button:active {
    background: rgb(152,15,0);
} /* при нажатии */

#main_button2 {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,20); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */


}
#main_button2:hover {
    background: rgb(232,95,14);
} /* при наведении курсора мышки */
#main_button2:active {
    background: rgb(152,15,0);
} /* при нажатии */